function Main.main 2
    push constant 1
    push constant 4
    call String.new 1
    push constant 61
    call String.appendChar 2
    push constant 49
    call String.appendChar 2
    push constant 43
    call String.appendChar 2
    push constant 48
    call String.appendChar 2
    push constant 1
    call String.new 1
    push constant 101
    call String.appendChar 2
    call Cell.new 3
    pop local 0
    push local 0
    call Cell.Get 1
    pop local 1
    push local 1
    call Output.printString 1
    pop temp 0
    push constant 0
    return