function StartInstruction.draw 0
    push constant 2
    push constant 2
    call Output.moveCursor 2
    pop temp 0
    push constant 7
    call String.new 1
    push constant 87
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 3
    push constant 1
    call Output.moveCursor 2
    pop temp 0
    push constant 10
    call String.new 1
    push constant 116
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 69
    call String.appendChar 2
    push constant 120
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 33
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    call StartInstruction.drawDirection 0
    pop temp 0
    push constant 7
    push constant 2
    call Output.moveCursor 2
    pop temp 0
    push constant 5
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 112
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 8
    push constant 2
    call Output.moveCursor 2
    pop temp 0
    push constant 8
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 103
    call String.appendChar 2
    push constant 104
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 9
    push constant 2
    call Output.moveCursor 2
    pop temp 0
    push constant 7
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 100
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 119
    call String.appendChar 2
    push constant 110
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 10
    push constant 2
    call Output.moveCursor 2
    pop temp 0
    push constant 7
    call String.new 1
    push constant 32
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 102
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 13
    push constant 1
    call Output.moveCursor 2
    pop temp 0
    push constant 8
    call String.new 1
    push constant 119
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 119
    call String.appendChar 2
    push constant 114
    call String.appendChar 2
    push constant 105
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 14
    push constant 1
    call Output.moveCursor 2
    pop temp 0
    push constant 10
    call String.new 1
    push constant 61
    call String.appendChar 2
    push constant 32
    call String.appendChar 2
    push constant 45
    call String.appendChar 2
    push constant 99
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    push constant 109
    call String.appendChar 2
    push constant 112
    call String.appendChar 2
    push constant 117
    call String.appendChar 2
    push constant 116
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    call Output.printString 1
    pop temp 0
    push constant 0
    return
function StartInstruction.drawDirection 1
    push constant 16384
    pop local 0
    push local 0
    push constant 2496
    add
    push constant 768
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2368
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2400
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2432
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2464
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2528
    add
    push constant 1920
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2560
    add
    push constant 4032
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2592
    add
    push constant 7008
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2624
    add
    push constant 13104
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2656
    add
    push constant 768
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2688
    add
    push constant 768
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2720
    add
    push constant 768
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2752
    add
    push constant 768
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2880
    add
    push constant 1536
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2784
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2816
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2848
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2912
    add
    push constant 3072
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2944
    add
    push constant 6144
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 2976
    add
    push constant 16368
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3008
    add
    push constant 16368
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3040
    add
    push constant 6144
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3072
    add
    push constant 3072
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3104
    add
    push constant 1536
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3232
    add
    push constant 768
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3136
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3168
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3200
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3264
    add
    push constant 768
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3296
    add
    push constant 768
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3328
    add
    push constant 768
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3360
    add
    push constant 13104
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3392
    add
    push constant 7008
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3424
    add
    push constant 4032
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3456
    add
    push constant 1920
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3488
    add
    push constant 768
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3616
    add
    push constant 384
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3520
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3552
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3584
    add
    push constant 0
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3648
    add
    push constant 192
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3680
    add
    push constant 96
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3712
    add
    push constant 16368
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3744
    add
    push constant 16368
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3776
    add
    push constant 96
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3808
    add
    push constant 192
    call Memory.poke 2
    pop temp 0
    push local 0
    push constant 3840
    add
    push constant 384
    call Memory.poke 2
    pop temp 0
    push constant 0
    return